.DS_Store
bin
examples/output/
local/
target/
tests/output/*tsv

# open office tmp files
*#

.idea
conf/*json
.cogs
__pycache__
tests/output/*yaml
tests/output/personinfo/
tests/output/personinfo_autofill/
tmp
